@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --primary-color: #2ec4b6;
  --secondary-color: #ff9f1c;
  --accent-color: #e71d36;
  --background-color: #fdfffc;
  --text-color: #011627;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}


.tropical-gradient {
  background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
}

.tropical-shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
